
<h1>este componente esta funcionando {{nombre}} {{apellido}}</h1>
<h2>este componente esta funcionando {{nombre}} {{apellido}}</h2>
<h3>yo soy {{alumno.apellido}}</h3>
<h3>yo soy {{alumno.edad}}</h3>


<img [src]="img" alt="">
<input type="text" [(ngModel)]="inputnuevo">

<p>{{inputnuevo}}</p>


<label for="">Correo<input type="text"  (ngModelChange)="escribircorreo()" [(ngModel)]="correo"></label>
<label for="">Contraseña<input type="text" (ngModelChange)="escribirmodelo()"  [(ngModel)]="password"></label>
<button (click)="ingresar()">Empezar</button>
<button (dblclick)="llamaralerta()">Dobleclick</button>

<br>
<br>
<input type="text" (input)="escribir($event)">
<input type="text" (focus)="colorearfondo($event)">
<br>

<img src="https://media.tenor.com/images/ffb0838d6924a88d142cf523fffe3bc6/tenor.gif" (mouseenter)="cambiartamano($event)" (mouseleave)="minimizartamano($event)" alt="">
