<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true}">Inicio</a>
                <a class="nav-link" routerLink="/pipes" routerLinkActive="active">Pipes</a>
                <a class="nav-link" routerLink="/ejemplo" routerLinkActive="active">Ejemplo</a>
                <a class="nav-link" routerLink="/directiva" routerLinkActive="active">Directiva</a>
                <a class="nav-link" routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
                <a class="nav-link" routerLink="/articulo" routerLinkActive="active">Articulo</a>

            </div>
        </div>
    </div>
</nav>