// .producto{
//     border: 1px solid black;
//     padding-left: 50px;
//     margin: 15px;
// }


.tab{
    border: 1px solid #eaeaea;
    width: 300px;
    height: 300px;
    padding: 10px;
}
.tabContenido{
    width: 90%;
    height: 90%;
    background: lightcoral;
    padding-left: 15px;
    margin: auto;
}