<!-- Toolbar -->

<div class="content" role="main">
  <!-- Highlight Card -->

  <!-- Resources -->

  <!-- Terminal -->

  <!-- Links -->
  <!-- Footer -->
</div>
<app-pipes></app-pipes>
<!-- 
<app-ejemplo></app-ejemplo> -->
<!-- <app-directiva></app-directiva> -->
<!-- <app-titulos></app-titulos> -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- fgxfgd -->
<router-outlet></router-outlet>